---
version: '3.9'
services:
  bareos-dir:
    build: ./director-pgsql/
    image: bareos-dir:23.0.3
    volumes:
      - ./data/bareos/config/director:/etc/bareos
      - ./data/bareos/data/director:/var/lib/bareos # required for MyCatalog backup
    environment:
      - DB_INIT=true #should be 'true' if bareos db does not exist
      - DB_UPDATE=false
      - DB_HOST=bareos-db
      - DB_PORT=5432
      - DB_NAME=bareos
      - DB_USER=bareos
      - DB_PASSWORD=${DB_PASSWORD} # defined in .env file
      - DB_ADMIN_USER=${DB_ADMIN_USER} # defined in .env file
      - DB_ADMIN_PASSWORD=${DB_ADMIN_PASSWORD} # defined in .env file
      - BAREOS_SD_HOST=bareos-sd
      - BAREOS_SD_PASSWORD=${BAREOS_SD_PASSWORD} # defined in .env file
      - BAREOS_FD_HOST=bareos-fd
      - BAREOS_FD_PASSWORD=${BAREOS_FD_PASSWORD} # defined in .env file
      - BAREOS_WEBUI_PASSWORD=${BAREOS_WEBUI_PASSWORD} # defined in .env file
      - SMTP_HOST=smtpd:8025 # Local smtp container
      #- SENDER_MAIL=your-sender@mail.address #optional
      - ADMIN_MAIL=your@mail.address # Change me!
      # Optional you can gets backup notification via Slack or Telegram
      - WEBHOOK_NOTIFICATION=false # true or false if set to true email notification gets disabled
      - WEBHOOK_TYPE=slack # choose slack or telegram
      - WEBHOOK_URL= # set the slack or telegram URL
      - WEBHOOK_CHAT_ID= # for telegram only set the <chat_id>
    depends_on:
      - bareos-db

  bareos-sd:
    build: ./storage/
    image: bareos-storage:23.0.3
    ports:
      - 9103:9103
    volumes:
      - ./data/bareos/config/storage:/etc/bareos
      - ./data/bareos/data/storage:/var/lib/bareos/storage
      - /backup_20t/bareos:/var/lib/bareos/archive
      - /backup_8t/bareos:/var/lib/bareos/storage
    environment:
      - BAREOS_SD_PASSWORD=${BAREOS_SD_PASSWORD} # defined in .env file

  bareos-fd:
    image: bareos-client:23.0.3
    build: ./client/
    volumes:
      - ./data/bareos/config/client:/etc/bareos
      - ./data/bareos/data/director:/var/lib/bareos-director # required for MyCatalog backup
    environment:
      - BAREOS_FD_PASSWORD=${BAREOS_FD_PASSWORD} # defined in .env file
      - FORCE_ROOT=false
      #- PUID=1500 # force bareos user ID
      #- PGID=1500 # force bareos group ID

  bareos-webui:
    build: ./webui/
    image: bareos-webui:23.0.3
    ports:
      - 8080:80
    environment:
      - BAREOS_DIR_HOST=bareos-dir
      - SERVER_STATS=yes
    volumes:
      - ./data/bareos/config/webui:/etc/bareos-webui

  # php-fpm:
  #   container_name: php-fpm
  #   image: php-fpm:22.0.3
  #   # build: ./php-fpm
  #   restart: always
  #   volumes:
  #     - ./data/bareos/config/webui:/etc/bareos-webui
  #     - ./data/bareos/data/webui:/usr/share/bareos-webui

  bareos-db:
    image: postgres:16 #16.2
    volumes:
      - ./data/pgsql/data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=${DB_ADMIN_USER} # defined in .env file
      - POSTGRES_PASSWORD=${DB_ADMIN_PASSWORD} # defined in .env file
      - POSTGRES_INITDB_ARGS=--encoding=SQL_ASCII
    ports:
      - 5432:5432
  # smtpd:
  #   image: devture/exim-relay

  # # Optional tools
  # # Bareos API
  # bareos-api:
  #   image: bareos-api:23.0.3
  #   ports:
  #     - 8000:8000
  #   environment:
  #     - BAREOS_DIR_HOST=bareos-dir

  # # Bareos metrics exporter for Prometheus
  # bareos-exporter:
  #   image: vierbergenlars/bareos_exporter:v0.6.0
  #   ports:
  #     - 9625:9625
  #   environment:
  #     - DB_HOST=bareos-db
  #     - DB_USER=bareos
  #     - DB_PASSWORD=${DB_PASSWORD}
  #     - WAIT_FOR_DB=15
  #   depends_on:
  #     - bareos-db

#EOF